* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgb(242, 173, 186); 
  }

  .hero {
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-rows: 80px 1fr auto;
    text-decoration: none;
    list-style: none;
  }