.item-card {
  background-color: #FFF5E4;
  border: 2px solid white; 
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: calc(33.33% - 20px);
  height: 400px;
  transition: transform 0.2s;
  display: inline-block;
}

.item-card:hover {
  transform: translateY(-5px);
}

.item-card h3 {
  font-size: 1.5em;
  margin: 0;
}

.item-card p {
  margin: 0;
  margin-top: 10px;
}
.item-image-container {
  height: 60%; 
}

.item-image {
  max-width: 100%;
  max-height: 100%
}
.custom-link {
  border: 1px solid hsl(0, 0%, 100%); 
  padding: 5px 10px;
  background-color: #FFC0CB;
  color: #000; 
  text-decoration: none;
  margin-top: 10px; 
}

