.item-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
  }
  
  .item-detail-container > div {
    width: 100%;
    padding: 20px;
    background-color: #fff5e4;
    border: 1px solid #fffefe;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .item-detail-container h4 {
    margin-bottom: 10px;
  }
  
  .item-detail-container h5 {
    margin-bottom: 10px;
  }
  
  .item-detail-container p {
    margin-bottom: 20px;
  }
  
  .item-count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .item-count-container button {
    margin-left: 10px;
  }
  .product-image {
    width: 300px; 
    height: 300px; 
    object-fit: cover;
    object-position: center;
  }
  
  